nav {
  height: 56px;
  width: 100%;
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  background-color: #333333;
  border-bottom: 5px solid #F1AE5C;
  color: #F1AE5C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-brand {
  color: #F1AE5C;
  font-weight: bold;
}

.header nav {
  height: 100%;
}

.nav-item {
  color: #F1AE5C;
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

#link {
  color: #F1AE5C;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

#link{
  color: #F1AE5C;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

#link:hover,
#link:active,
#link.active {
  background-color: #F1AE5C;
  color: #333333;
  font-weight: bold;
}
