<div class="card kartica senka" style="width: 18rem; background-color: #F1AE5C">
  <div class="card-body">
    <h5 class="card-title">Uplatnica broj {{uplatnica.uplatnicaId}}</h5>
    <p class="card-text">{{uplatnica.datumUplate.toString().slice(0,10)}} - {{uplatnica.iznos}} RSD</p>
    <p class="card-text">{{uplatnica.clan.ime}} {{uplatnica.clan.prezime}}</p>
    <!--        <a class="btn btn-primary">PRIKAZI</a>-->
  </div>
  <div class="d-flex flex-column align-content-center text-center">
    <button [disabled]="uplatnica.potvrdjena" class="button-1" (click)="obrisiUplatnicu()">OBRISI</button>
    <button [disabled]="uplatnica.potvrdjena" class="button-2" (click)="izmeniUplatnicu()">IZMENI</button>
  </div>
</div>



