<!--<div class="container">-->
<h1 class="naslov">{{this.editMode ? 'IZMENI' : 'KREIRAJ'}} UPLATU</h1>
<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <form [formGroup]="formUplatnica" (ngSubmit)="formSubmit()" class="forma">
      <div class="form-group">
        <label for="datumUplate">Datum uplate</label>
        <input type="text" formControlName="datumUplate" id="datumUplate" class="form-control">
      </div>
      <div class="form-group">
        <label for="iznos">Iznos uplate</label>
        <input type="text" formControlName="iznos" id="iznos" class="form-control">
      </div>
      <div class="form-group">
        <label for="clan">Clan</label>
        <select class="form-control" id="clan" formControlName="clan" class="form-control">
          <option *ngFor="let clan of clanovi" [ngValue]="clan">{{clan.clanId}} - {{clan.ime}} {{clan.prezime}}</option>
        </select>
      </div>
      <button [disabled]="!formUplatnica.valid" type="submit" class="button-1">{{this.editMode ? 'IZMENI UPLATU' : 'UPLATI'}}</button>
    </form>
  </div>
</div>

