.button-1{
  background-color: #F1AE5C;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  width: 100%;
  margin: 0;
  font-weight: bold;
  color: #333333;
}

.button-2{
  background-color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  width: 100%;
  margin: 0;
  font-weight: bold;
  color: #F1AE5C;
}

.button-1:hover{
  background-color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  width: 100%;
  margin: 0;
  font-weight: bold;
  color: #F1AE5C;
}

.button-2:hover {
  background-color: #F1AE5C;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  width: 100%;
  margin: 0;
  font-weight: bold;
  color: #333333;
}

.senka {
  /*-webkit-box-shadow: 3px 6px 12px 6px rgba(241,174,92,0.73);*/
  /*-moz-box-shadow: 3px 6px 12px 6px rgba(241,174,92,0.73);*/
  /*box-shadow: 3px 6px 12px 6px rgba(241,174,92,0.73);*/

  -webkit-box-shadow: 3px 6px 12px 6px rgba(0,0,0,1);
  -moz-box-shadow: 3px 6px 12px 6px rgba(0,0,0,1);
  box-shadow: 3px 6px 12px 6px rgba(0,0,0,1)
}

.kartica {
  border: 2px solid #333333;
}

.klasaZaKarticu {
  padding: 0;
  text-align: center;
  margin-top: 10px;
}
